{
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"plugins": ["prettier-plugin-ejs"],
	"overrides": [
		{
			"files": "*.ejs",
			"options": {
				"printWidth": 9999
			}
		}
	]
}
